<h1 id="health"> Sytem Health </h1>
<a id="systemInfo" href="#!/status">i</a>
<div id="indicator">
  <figure>
    <h4>Safe</h4>
    <div id="gradient"></div>
    <h4>Danger</h4>
  </figure>
  <div id="holder">
    <div id="diamond"></div>
  </div>
</div>
<div id="temp">
  <div class="home">
    <h1>{{time}}</h1>
    <h4 class="title">Temp</h4>
  </div>
  <div class="home">
    <h1>{{humidity}}</h1>
    <h4 class="title">Humidity</h4>
</div>
<h1 id="attention">ATTENTION!</h1>
